.loginTitle {
  position: relative;
  transform: translateY(-25px);
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;
  color: #000000;
}

.line {
  width: 100px;
  height: 4px;
  background-color: #e65a1f;
  position: relative;
  left: 50%;
  transform: translate(-50%, -35px);
}
