.section1 {
  margin-top: 150px;
}

.title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 65px;
  color: #e65a1f;
}

.content {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: rgba(29, 29, 36, 0.75);
}

.subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #e65a1f;
}

.buscarZona {
  margin-top: 71px;
  position: absolute;
  right: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  font-weight: 500;
  font-size: 19px;
  line-height: 21px;
  color: #7149bc;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.16);
  padding: 15px 22px;
  max-width: 250px;
}
.buscarZonaWithFilter {
  margin-top: 71px;
  position: absolute;
  right: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  font-weight: 500;
  font-size: 19px;
  line-height: 21px;
  color: #7149bc;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.16);
  padding: 15px 22px;
  max-width: 250px;
}

@media (max-width: 992px) {
  .buscarZona {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: auto;
    min-width: 200px;
    padding: 12px 10px;
    font-size: 15px;
    transition: 300ms;
  }
  .buscarZonaWithFilter {
    left: 50%;
    margin-top: 71px;
    transform: translateX(-50%);
    width: auto;
    min-width: 200px;
    padding: 12px 10px;
    font-size: 15px;
    transition: 300ms;
  }
}
