.primary {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(90deg, #e43d22 0%, #e65a1f 100%);
  border: none;
  border-radius: 40px;
  padding: 14px 18px 14px 18px;
  text-decoration: none;
}

.secondary {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 25.7083px;
  padding: 8px 40px;
  color: #e65a1f;
  border: 2px solid #e65a1f;
  box-sizing: border-box;
  border-radius: 57.1295px;
  transition: 100ms;
}
.secondary:hover {
  outline: 3px solid #7149bc;
  border: 2px solid white;
  background-color: #7149bc;
  color: white;
  transition: 100ms;
}

.Green {
  border: 1px solid #13A407;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
  color: #13A407;
  background-color: white;
  padding: 6px 12px;
  transition: 100ms;
}

.Green:hover {
  background-color: #13A407;
  color: white;
  transition: 100ms;
}

.add {
  background-color: #13a407;
  color: #fff;
}

.disabled {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ccc;
  background: linear-gradient(90deg, #dd6654 0%, #eb7b4c 100%);
  border: none;
  border-radius: 40px;
  padding: 14px 18px 14px 18px;
  text-decoration: none;
}
.disabled:hover {
  cursor: not-allowed;
}
