.primary {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(90deg, #e43d22 0%, #e65a1f 100%);
  border: none;
  border-radius: 40px;
  padding: 14px 18px 14px 18px;
  text-decoration: none;
}
.primary:hover {
  color: white;
}

.secondary {
  background-color: #fff;
  border: 1px #e44122 solid;
  border-radius: 20px;
  color: #e44122;
}

.Green {
  background-color: #fff;
  border: 1px #13a407 solid;
  border-radius: 20px;
  color: #13a407;
}

.add {
  background-color: #13a407;
  color: #fff;
}
