.section {
  margin-top: 100px;
}

.title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 77px;
  color: #000000;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #e65a1f;
}
