.customCard {
  border-radius: 7px;
  outline: 1px solid #dddddd;
  border: none;
  box-sizing: border-box;
  border-radius: 7px;
  transition: 100ms;
}

.customCard:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.4);
  transition: 100ms;
}

.imgContainer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  height: 180px;
}
.cardImg {
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

.imgPausa {
  height: 100%;
  color: white;
  background-color: rgba(122, 122, 122, 0.7);
}

.imgTituloPausa {
  font-size: 25px;
  padding-top: 65px;
}

.proContent {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  display: -webkit-box;
  max-width: calc(100%);
  max-height: auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.proContentFalse {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #c5c5c5;
  display: -webkit-box;
  max-width: calc(100%);
  max-height: auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.tituloContainer {
  height: 68px;
  overflow: hidden;
}

.customBtn1:focus,
.customBtn2:focus,
.customBtn3:focus,
.customBtn4:focus {
  box-shadow: none;
}

.customBtn1 {
  padding-top: 30px;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 0px 0px 0px 7px;
  background-image: url("/images/icons/properties-icons/1-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: 100ms;
}
.customBtn2 {
  padding-top: 30px;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 0px 0px 0px 7px;
  background-image: url("/images/icons/properties-icons/2-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: 100ms;
}
.customBtn3 {
  padding-top: 30px;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 0px 0px 0px 7px;
  background-image: url("/images/icons/properties-icons/3-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: 100ms;
}
.customBtn4 {
  padding-top: 30px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 0px 0px 7px 0px;
  background-image: url("/images/icons/properties-icons/4-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: 100ms;
}

.customBtn1:hover {
  background-color: #7149bc;
  border: 1px solid #7149bc;
  background-image: url("/images/icons/properties-icons/1-white.png");
  transition: 100ms;
}
.customBtn2:hover {
  background-color: #7149bc;
  border: 1px solid #7149bc;
  background-image: url("/images/icons/properties-icons/2-white.png");
  transition: 100ms;
}
.customBtn3:hover {
  background-color: #7149bc;
  border: 1px solid #7149bc;
  background-image: url("/images/icons/properties-icons/3-white.png");
  transition: 100ms;
}
.customBtn4:hover {
  background-color: #7149bc;
  border: 1px solid #7149bc;
  background-image: url("/images/icons/properties-icons/4-white.png");
  transition: 100ms;
}

.noImage {
  width: 100%;
  height: 100%;
  background-color: #cccccc;
}
.noImageText {
  font-family: Open Sans;
  font-size: 1vw;
  font-weight: bold;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.menu {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
  padding: 5px;
  width: 200px;
  margin-left: -30px;
  margin-top: 65px;
  z-index: 10;
}

.menuItem {
  font-family: "Open Sans";
}
.menuItem:hover {
  color: slateblue;
  font-weight: bold;
}
